
body{
    margin: 0;
    height: 100vh;
    background: #374785;
    font-family: "Courier New";
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 2fr 2fr;
    grid-template-areas: 
        "main main"
        "portfolio modelling"
        "shop shop";
    height: 100vh;
    margin: 2em;
}

section{
    border-radius: 10px;
    margin: 1em;
}


.dev-container .inner {
    background: #24305e;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 20%);
    transition: all .5s ease-in-out;
    cursor: pointer;
 
}

.dev-container:hover .inner {
    clip-path: circle(85%);
    background-color: green;
}

.dev-container .inner h1{
    color: white;
    margin: 0;
}

.dev-container .inner span img{
    max-width: 10%;
    max-height: 10%;
    margin-left: 90%;
    margin-top: 1%;
    /* margin-left: 225px;
    margin-top: 0.2em; */
    /* align-content: left; */
    
}

.dev-container .inner p{
    color: white;
    font-size: .8erm;
}



.dev-container{
    width: 250px;
    background: white;
    border-radius: 10px;
    margin: 1em;
}





main{
    grid-area: main;
    background: #a8d0e6;
    border-radius: 10px;
    margin: 1em;
}

section.portfolio{
    grid-area: portfolio;
    background: #f76c6c;
}

section.modelling{
    grid-area: modelling;
    background: #24305e;
}

section.shop{
    grid-area: shop;
    background: #f8e9a1;
}